{
  "extends": "plugin:nullstack/recommended",
  "plugins": [
    "jest"
  ],
  "env": {
    "jest/globals": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".njs",
          ".nts"
        ]
      }
    }
  },
  "globals": {
    "page": "writable",
    "browser": "writable"
  },
  "rules": {
    "no-console": "off"
  },
  "ignorePatterns": [
    "temp.js",
    "types/*.d.ts",
    "workers/*.js"
  ]
}